{% extends "Backend/base.html.twig" %}


{% block content %}
    <div class="container">
        {% if app.request.requestUri == '/admin/article/new'  %}
            <h1>Ajouter un article</h1>
        {% else %}
            <h1>Modifier un article</h1>
        {% endif %}

        {{ form_start(articleForm) }}
        {{ form_widget(articleForm) }}

        {% if app.request.requestUri == '/admin/article/new'  %}
            <button type="subit" class="btn btn-primary">Ajouter</button>
        {% else %}
            <button type="subit" class="btn btn-primary">Modifier</button>
        {% endif %}

        {{ form_end(articleForm) }}
    </div>
{% endblock %}
